* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  max-width: 400px;
  margin: 10px auto;
}

form label {
  color: var(--tg-theme-accent-text-color, #222);
  display: block;
  margin-bottom: 4px;
}

select {
  -webkit-appearance: none; /* Resets default appearance */
  appearance: none; /* Resets default appearance for other browsers */
}

select option {
  font-size: 15px;
  padding: 10px;
}

form select,
form input,
form textarea,
form button {
  display: block;
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  background-color: var(--tg-theme-secondary-bg-color, #e5e5e5);
  color: var(--tg-theme-text-color, #000);
}

form button,
form select {
  cursor: pointer;
}

@media (pointer: coarse) {
  form button {
    background-color: #299b9b;
    color: #fff;¬ø
  }

  form button:active,
  form button:focus {
    background-color: #fff;
    color: #000;
  }
}

#map {
  width: 100%;
  height: 40vh;
}

.loader {
  margin: 0 auto;
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat
    radial-gradient(
      circle closest-side,
      var(--tg-theme-accent-text-color, blue) 90%,
      #0000
    );
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
